/*body*/
body { 
	background: #2C858D;
	font-family: 'Orienta', sans serif;
	padding: 20px;
}

/*header*/
.box {
	background: #CCC;
  	height: 120px;
  	width: 960px;
	border: 2px solid #ccc;
	margin: 0;
}
/*navigation*/
#topnav ul {
	height: 100px;
  	margin-top: 59px;
  	padding-left: 17px;
  	width: 500px;
}

li {
	text-decoration: none;
}

ul li {
	display: inline;
	margin: 0 -14px;
	padding: 43px;
	text-decoration: none;
	text-align: center;
}


/*h1, h2, h3 styling*/

h1 {
	font-family: 'Orienta', sans serif;
	font-size: 50px;
	margin: 31px;
}

h2 {
	font-family: 'Orienta', sans serif;
	font-size: 40px;
	margin: 4px 0 4px 0;
	padding: 3px 0 3px 0;
}

/*About Me*/
#aboutme p {
	margin: -14px -12px -31px -35px;
	padding: 20px;
}

#box2 {
background: #CCC;
  	height: 465px;
  	width: 960px;
	border: 2px solid #ccc;
	margin: -12px;
}


/*image sizing*/
article img {
	height: 440px;
	width: 440px;
	padding: 11px 0 11px 11px;
	margin: 2px 0 0 0;
	
}

article ul li {
  	width: 440px;
	list-style: none;
}

/*photo gallery page*/
div img {
	margin: 2px 0 39px 0;
	border-radius: 90%;
	-webkit-transition: border-radius 1s linear 0s;
	-moz-transition: border-radius 1s linear 0s;
	-o-transition: border-radius 1s linear 0s
	transition: border-radius 1s linear 0s;
}

div img:hover {
	border-radius: 10%;
}

#box3 {
	background: #CCC;
  	height: 300px;
  	width: 960px;
	border: 2px solid #ccc;
	margin: -12px;
}

/*footer*/
#footer p { 
text-align: center;
}
	


/*contact form*/

body {
  padding: 20px 15%;
  margin: 10px 0 
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 30px 0 30px 0;
}
form > div {
  clear: both;
  overflow: visible;
  padding: 1px;
  margin: 30px 0 30px 0;
  display: inline;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 20px;
}
fieldset {
	border: 0;
  padding: 10px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}
