/*background*/
body { 
background: #B4F9DE;
font-size: 16px;
}

body > div {
	background: #D3D3CC;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: block;	
}



/*navigation*/
nav {
	margin: 0 85px 0 85px;
}

nav li {
	float: left;
	list-style: none;
	margin: 0 60px 0 60px;
	padding: 20px;
}

nav a:link {
	text-decoration: none;
}
/*content box*/

section {
	background: #D3D3CC;
	padding-bottom: 0;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 400px;
}

aside {
  float: right;
  margin: 10px;
  width: 400px;
}
aside img {
	width: 400px;
	height: 400px;
}
/*photos*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Arial, sans-serif; }


#gallery img {
  -webkit-filter: grayscale(100%) drop-shadow(5px 5px 5px rgba(13, 0, 0, 0.3))
}


.grid {
	list-style: none;
	overflow: hidden;
	padding: 0.5em 0 0 0.5em;
	max-width: 100em;
	margin: 20px auto;
		}
		.grid li {
			padding: 0 0.5em 0.5em 0;
		}
		.grid li > img {
      display:block;
       max-width:100%;
			background: #808080;
			padding: 2em;
			text-align: center;
		}
		.grid li a {
			color: #fff;
		}
		
		@media all and (min-width: 27em) {
			.grid li {
				width: 50%;
				float: left;
			}
		}
		
		@media all and (min-width: 40em) {
			.grid li {
				width: 33.3333333%;
			}
			.grid li.wide {
				width: 66.666666%;
			}
		}
		@media all and (min-width: 60em) {
			.grid li {
				width: 25%;
			}
			.grid li.wide {
				width: 50%;
			}
		}

/*footer*/

footer {
	clear:both;
}
