/*body*/
body { 
	background: #2C858D;
	font-family: 'Orienta', sans serif;
	padding: 20px;
}

/*header*/
.box {
	background: #FFFFCB;
  	height: 120px;
  	width: 960px;
	border: 4px solid #ccc;
	margin: 0 auto;
}
/*navigation*/
#topnav ul {
	height: 100px;
  	margin-top: 59px;
  	padding-left: 17px;
  	width: 500px;
}
	

ul li {
	display: inline;
	margin: 0 10px;
	padding: 20px;
	text-indent: -99px;
	text-decoration: none;
	text-align: center;
}


/*h1, h2, h3 styling*/

h1 {
	font-family: 'Orienta', sans serif;
	font-size: 50px;
	margin: 31px;
}

h2 {
	font-family: 'Orienta', sans serif;
	font-size: 50px;
	margin: 0;
}

/*About Me*/
#box2 {
background: #FFFFCB;
  	height: 500px;
  	width: 960px;
	border: 4px solid #ccc;
	margin: 0 auto;	
}


/*image sizing*/
article img {
	height: 440px;
	width: 450px;
	margin: -20px;
}

article li {
  	width: 440px;
	list-style: none;
}

/*photo gallery page*/


/*footer*/
#footer ul {
	align: center;
}


/*footer contact form
